*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*

target/*
core_macros/target/
core/target/
sc-backend/target/
project/target/
project/project/
sc-backend/macros/
benchmark/target/*
!benchmark/target/benchmarks/
!benchmark/target/benchmarks/report/
example/target/
haskellopt/target/
site/target/

haskellopt_gen/*.hi
haskellopt_gen/*.o
haskellopt_gen/*.opt
haskellopt_gen/bench/*
haskellopt_gen/bench-doc/*.hi
haskellopt_gen/bench-doc/*.o
haskellopt_gen/bench-doc/*.opt

# ignore everything in there but files with a .hs extension -- this is to ignore executables compiled by me using GHC
haskellopt/src/test/haskell/*
!haskellopt/src/test/haskell/*.hs
haskellopt/src/test/haskell/_perso*
haskellopt/src/test/haskell2/*
!haskellopt/src/test/haskell2/*.hs
haskellopt/src/test/haskell2/_perso*

lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/*
img_out/

# Metals
.metals
.bloop
project/.bloop
.vscode
